/* #myNav {
  width: fit;
  height: 100px;
  background-color: blue;
} */

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {} */

/* Portrait */

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {} */

/* Landscape */

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {} */

/* ----------- Non-Retina Screens ----------- */

/* @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {} */

/* ----------- Retina Screens ----------- */

/* @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {} */

/* <!--Navbar start--  */

.navbar {
  flex-direction: row;
}

.navbtn {
  font-family: 'Press Start 2P', cursive;
  background-color: #FDAF1B;
  flex-direction: row;
}

.nav-logo-border {
  width: 154px;
}

body {
  background-color: #FDAF1B;
}

.row {
  background-color: #A9471C;
  min-height: 980px;
}

/* <!--Navbar end--  */

/* <!--Row 1--  */

.vid {
  flex-direction: column;
}

#backvid {
  position: relative;
}

#backvid video {
  height: 100vh;
  width: 100%;
  back-ground-position: absolute;
  z-index: 10;
  object-fit: cover;
}

#backvid .content {
  background: rgba(0.0.0.0.90);
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #DE711D;
  font-size: 60px;
  padding: 10px;
  flex-direction: row;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  color: #DE711D;
  font-size: 60px;
  padding: 10px;
  flex-direction: row;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  color: #DE711D;
  font-size: 60px;
  padding: 10px;
  flex-direction: column;
}

.card {
  font-family: 'Press Start 2P', cursive;
  color: #DE711D;
  font-size: 9px;
  padding: 10px;
  flex-direction: row;
}

.card-title {
  font-size: 20px;
  color: #fee373;
  flex-direction: row;
}

.card-body {
  background-color: #280003;
  flex-direction: row;
}

.scratch {
  padding: 90px;
  flex-direction: column;
}

.mycontact {
  padding: 300px;
  padding-left: 100px;
  flex-direction: row;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    flex-direction: column;
  }
  #backvid {
    flex-direction: column;
  }
  h1 {
    font-size: small;
  }
  h2 {
    font-size: small;
  }
  h3 {
    font-size: small;
  }
  .card-body {
    flex-direction: row;
  }
  .scratch {
    flex-direction: column;
  }
}